* {
    margin: 0;
    padding: 0;
}

.login-container {
    height: 100vh;
    background-image: url(images/image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.login-container>p {
    color: #ffffff;
    text-align: center;
    padding: 20px 0px 60px 0px;
    font: 2em sans-serif;
    letter-spacing: 2px;
}

.container-login-fluid {
    display: block;
    text-align: center;
}

.login-label {
    font: 2.5em sans-serif;
    color: #ffffff;
    padding-right: 10px;
    letter-spacing: 3px;
    font-weight: 600;
}

.login-password {
    color: #ffffff;
    font: 1.75em sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.register-container {
    height: 100vh;
    background-image: url(images/image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.gallery-registration {
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font: 3em sans-serif;
}

.container-register-fluid {
    display: block;
    text-align: center;
}

.register-text {
    color: #ffffff;
    font: 2.5em sans-serif;
}

.required {
    color: red;
    font: 2em sans-serif;
}

.navbar {
    height: 50px;
    font-size: 1.25em;
    padding: 20px;
}

.text-white {
    padding-left: 20px;
}

.container-home {
    height: 90vh;
    background-image: url(images/image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.welcome {
    padding: 20px 20px 0px 20px;
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
}

.directions {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 750;
}

.access {
    text-align: center;
    color: #ffffff;
}

.btn-outline-dark {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
}

.form-group>p {
    text-align: center;
    font-size: 1.25em;
}

.form-gallery-container {
    padding-top: 50px;
    padding-left: 200px;
}

.image-container {
    padding-left: 200px;
}

img {
    height: 250px;
}

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.intro {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px solid #212121;
    border-radius: 10px;
    color: #92b0b3;
    position: relative;
    height: 100px;
    width: 50vw;
    margin: 0 auto;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    top: 30px;
    font-size: 12px;
}

.dropzone, .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover, .dropzone-wrapper.dragover {
    background: lightgray;
}

.fas-upload {
    width: 50vw;
    margin: 0;
}

.fa-file-image {
    color: #212121;
}

.fa-trash-alt {
    color: #212121;
}

.fa-trash-alt:hover {
    color: red;
}

.fa-file-upload {
    color: #212121;
    padding-left: 150px;
    padding-bottom: 80px;
}

button {
    border: none;
    padding-bottom: 10px;
    background-color: white;
}

button:hover {
    color: rgb(47, 192, 11);
}

.alert-primary {
    color: #212121;
    background-color: #fff9f9;
    border: 2px solid #212121;
    border-radius: 10px;
}

img {
    height: 200px;
    width: auto;
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 5px;
}

footer {
    text-align: center;
}